@import './variables.scss';
@import './reset.scss';

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./../fonts/CooperHewitt/CooperHewitt-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./../fonts/CooperHewitt/CooperHewitt-Medium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Anton';
  src: url('./../fonts/Anton/Anton-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $font-color-white;
  background: $color-neutral;
  font-family: $font-family-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@import './mixins/mixins.scss';
@import './components/button.scss';
@import './components/section.scss';
@import './partial/header.scss';
@import './partial/main-cover.scss';
@import './partial/contact-us.scss';
@import './partial/footer.scss';
@import './partial/trainings.scss';

@import './pages/base-page.scss';
