$content-width: 1200px;
// Colors
$color-primary: #00214d;
$color-primary-accent: #1E98a8;
$color-secondary-accent: #629841;
$color-neutral: #d9d9d9;
$color-light-neutral: #ffffff;

// Spacing
$base-spacing: 8px;

$unit: 4px;
$spaces: (
  0: 0,  // 4px
  xs: 1,  // 4px
  sm: 2,  // 8px
  md: 4,  // 16px
  lg: 6,  // 24px
  xl: 8,  // 32px
  xxl: 12 // 48px
);

$line-height: 1.5;
// Font Sizes
$font-size-sm: .7rem;
$font-size-normal: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;


$font-color-primary: $color-neutral;
$font-color-secondary: $color-neutral;
$font-color-white: $color-primary;
$font-color-gray: $color-primary;

$font-color-primary: $color-light-neutral;
$font-color-primary-accent: $color-light-neutral;
$font-color-secondary-accent: $color-neutral;
$font-color-neutral: $color-primary;
$font-color-light-neutral: $color-primary;

// Border Radius
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 16px;

// Font Family
$font-family: 'Inter', sans-serif;
// $font-family-primary: 'Cooper Hewitt', sans-serif;
$font-family-title: 'Poppins', sans-serif;
// $font-family-brand: 'Glaser Stencil', sans-serif; // Confirmar por licencia
  