.button {
  @include space-2(padding, sm, md);
  @include space-4(margin, md, md, md, sm);
  //margin-bottom: $spacing-sm;
  
  // padding: $spacing-sm $spacing-md;
  border-radius: $border-radius-sm;
  width: fit-content;
  border: none;
  cursor: pointer;
  transition: opacity .4s ease;
  display: block;
  text-align: center;
  display: flex;
  align-items: center;
  // gap: 1rem;
  @include space(gap, lg);
  transition: all 0.3s ease;


  &.accent {
    color: $font-color-primary-accent;
    background-color: $color-primary-accent;
  }

  &.primary {
    color: $font-color-primary;
    background-color: $color-primary;
  }

  &.natural {
    color: $font-color-neutral;
    background-color: $color-neutral;
  }

  &:hover {
    transform: scale(1.05);
    opacity: 0.8;
  }
}