.section {
    width: 100%;
    padding-bottom: 6em;

    &.remove-bottom-separation {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    &--primary {
        background: $color-primary url("./../../../public/images/overlay.png");
        color: $font-color-primary;
    }

    &--accent {
        background: $color-primary-accent url("./../../../public/images/overlay.png");
        color: $font-color-primary-accent;
    }

    &--natural {
        background: $color-neutral url("./../../../public/images/overlay.png");
        color: $font-color-neutral;
    }

    &--light {
        background: $color-light-neutral url("./../../../public/images/overlay.png");
        color: $font-color-light-neutral;
    }

    &__container {
        @include space-2(padding, xl, lg);

        width: 100%;
        max-width: $content-width;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        justify-content: center;
    }

    &__title {
        margin: 0 auto;
        text-transform: uppercase;
        position: absolute;
        top: -4.7em;
        
        @include space-4(margin, lg, sm, md, sm);
        @include space-4(padding, md, xl, xl, md);

        &--primary {
            background-color: $color-primary;
        }

        &--accent {
            background-color: $color-primary-accent;
        }

        &--natural {
            background-color: $color-neutral;
        }

        &--light {
            background-color: $color-light-neutral;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 21px;
            left: -35px;
            width: 35px;
            height: 38px;
            background: url("./../../../public/images/shadow.png");
            @media (max-width: 768px) {
                bottom: -9px;
            }
    
            @media (max-width: 480px) {
                bottom: -9px;
            }
        }

        &::after {
            -moz-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
            transform: scaleX(-1);
            content: '';
            position: absolute;
            bottom: 21px;
            right: -35px;
            width: 35px;
            height: 38px;
            background: url("./../../../public/images/shadow.png");
            @media (max-width: 768px) {
                bottom: -9px;
            }
    
            @media (max-width: 480px) {
                bottom: -9px;
            }
        }
    }

    &__subtitle {
        // margin-top: $spacing-lg;
        @include space(margin-top, lg);

        text-align: center;
    }

    &__content {
        max-width: $content-width;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @include space-2(margin, xl, auto);
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__image {
        width: 100%;

        img {
            box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .12);
            width: 100%;
            // margin-top: $spacing-xl;
            @include space(margin-top, xl);
            object-fit: cover;
            //border-radius: $border-radius-md;
            box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .12);

        }
    }

    &__actions {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}