.page_content{
    text-align: left;

    h2{
        margin-top: $spacing-xl;
    }

    h3{
        margin-top: $spacing-lg;
    }

    p{
        letter-spacing: 0.05em;
        padding: $spacing-md 0;
    }

    .quote {
        font-style: italic;
        margin: $spacing-md 0;
        padding-left: $spacing-lg;
        border-left: solid 2px $font-color-primary;
    }
}