.about {
    &__info {
        margin: 2rem 0;
        display: flex;

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            padding: 0 2rem;
        }

        &-text {
            text-align: left;
            margin-left: 20px;
            font-size: 1.2rem;
        }
    }
}

.page_content {
    .about {
        p {
            line-height: 1.8rem;
        }

        &__introduction {
            width: 75%;
            margin: 0 auto;

        }

        &__mission-vision {
            display: flex;
            gap: 16px;
            @include space-2(margin, xl, 0);

            &__item {
                @include space-2(padding, xl, xl);
                // @include space-2(margin, xl, 0);
                background: $color-light-neutral;
                border-radius: $border-radius-md;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 1rem;
                width: 50%;

                &--icon {
                    font-size: 2rem;
                    margin-right: 1rem;
                }
            }
        }

        &__values {
            @include space-2(margin, xl, 0);

            &--icon {
                font-size: 3rem;
                margin-right: 1rem;
            }

            &--title {
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }

            &__items {

                list-style-type: none;
                padding-left: 0;
                display: flex;
                flex-wrap: wrap;
                gap: 16px;

                li {
                    background: $color-light-neutral;
                    border-radius: $border-radius-md;
                    @include space-2(padding, md, lg);
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
                    width: calc(33.3% - 16px);
                    @include space-2(padding, md, lg);

                    h3 {
                        color: $color-primary;
                        font-size: 1.2rem;
                        margin-bottom: 0.2rem;
                        @include space-2(margin, md, 0);

                    }

                    p {
                        font-size: 1rem;
                    }
                }
            }
        }

        &__extra {
            @include space-2(margin, lg, 0);

            &--subtitle {
                width: 75%;
                @include space-2(margin, lg, auto);
            }

            &_content {
                display: flex;
                justify-content: center;
                gap: 16px;
                flex-wrap: wrap;
            }

            &_box {
                background-color: $color-light-neutral;
                border-radius: $border-radius-md;
                @include space-2(padding, md, lg);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
                width: calc(33% - 16px);
            }
        }

        &__quote {
            @include space-2(margin, 0, auto);
            width: 75%;
            text-align: center;

            // h3 {
            //     font-size: 1.5rem;
            //     margin-bottom: 1rem;
            // }
        }
    }
}