.about-us {
  padding: $spacing-xl $spacing-lg;
  background-color: $color-light-neutral;
  width: 100%;
  text-align: center;

  &__container {
    // max-width: $content-width;
    // display: flex;
    // gap: $spacing-md;
    // flex-direction: column; // Stack content vertically on larger screens
    // align-items: center; // Center content horizontally
    // margin: $spacing-xl auto;

    // @media (max-width: 768px) {
    //   flex-direction: column; // Stack content on smaller screens
    // }
    @include containers($font-color-primary-accent);

    &__title {
      @include headers(-8em, $color-light-neutral, $font-color-light-neutral)
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $spacing-lg;

      @media (max-width: 768px) {
        flex-direction: column; // Stack header content on smaller screens
        align-items: center; // Center items
        text-align: center; // Center text
      }
    }
  }

  &__content {
    flex: 1;
    color: $font-color-neutral; // Ensure text is readable on dark background
    padding: 0 $spacing-xl;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-xl;

    @media (max-width: 768px) {
      text-align: left;
    }
  }

  &__title {
    // font-size: $font-size-xxl;
    color: $font-color-neutral;
    margin-bottom: $spacing-sm;
    padding-bottom: $spacing-sm;

    @media (max-width: 768px) {
      // font-size: $font-size-xl;

    }
  }

  &__subtitle {
    // font-size: $font-size-lg;
    color: $font-color-neutral;
    margin-bottom: $spacing-md;
  }

  &__message {
    // font-size: $font-size-sm; // Slightly larger font size for better readability
    line-height: 1.6; // Increase line height for better spacing between lines
    color: $font-color-neutral; // White text for readability
    margin-bottom: $spacing-lg;

    b {
      font-weight: 300; // Ensure bold text stands out
      color: $color-primary-accent; // Use secondary color for emphasis

    }

    @media (max-width: 768px) {
      // font-size: $font-size-sm; // Adjust font size for smaller screens
      line-height: 1.5; // Slightly reduce line height on smaller screens
    }
  }


  &__button {
    padding: $font-size-sm $font-size-md;
    // font-size: $font-size-sm;
    color: $font-color-primary-accent;
    width: fit-content;
    border: none;
    border-radius: $border-radius-sm;
    background-color: $color-primary-accent;
    cursor: pointer;
    transition: opacity .4s ease;

    &:hover {
      opacity: 0.8;
      color: $color-neutral;
    }
  }
}