.companies {
  // padding: $spacing-xl $spacing-lg;
  // background-color: $color-neutral;
  @include base-section($color-primary);

  &__container {
    @include containers($font-color-primary);
  }

  &__title {
    @include headers(-6.6em, $color-primary, $font-color-primary)
  }

  &__description {
    margin-top: $spacing-xl;

  }

  &__list {
    padding-left: $spacing-lg;

    li {
      margin-bottom: $spacing-sm;
    }
  }
}