.companies {
  @include base-section($color-light-neutral);

  &__container {
    @include containers($font-color-light-neutral);
  }

  &__title {
    @include headers(-6.6em, $color-light-neutral, $font-color-light-neutral)
  }

  &__description {
    margin-top: $spacing-xl;

  }

  &__list {
    padding-left: $spacing-lg;

    li {
      margin-bottom: $spacing-sm;
    }
  }
}