.contact-us {

  &__contact-info {
    text-align: left;

    &__form-groups {
      width: 100%;
      display: flex;
    }

    &__form-group {
      flex: 1;
      margin-right: $spacing-lg;
      max-width: 500px;

      &:last-child {
        margin-right: 0;
      }
    }

  }

  &__reason-info {
    &--title {
      margin-bottom: $spacing-lg;
      text-align: left;
    }

    &_items {
      display: flex;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 30px;
      align-items: center;
      justify-content: space-around;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      // border-bottom: 2px solid #fff;
    }

    &--item {
      width: 200px;
      height: 200px;
      filter: grayscale(100%);
      opacity: 0.8;
      border-radius: 50%;
      transition: all 0.3s ease;
      color: $color-primary-accent;
      background: $color-light-neutral;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      svg {
        width: 50px;
        height: 50px;
      }

      &--text {
        color: $font-color-neutral;
        // font-weight: bold;
      }

      &:hover {
        filter: grayscale(0%);
        opacity: 1;
        transform: scale(1.05);
        cursor: pointer;
      }

      &.active {
        transform: scale(0.95);
        filter: grayscale(0%);
        opacity: 1;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    padding: $spacing-lg 0;

    &__contact {
      border-right: 1px solid $color-neutral;
      text-align: right;
      padding-right: $spacing-md;
      color: $font-color-neutral;

      span {
        color: $font-color-primary;
        font-weight: 700;
        font-size: .8rem;
        display: block;
      }

      a {
        display: block;

        color: $font-color-primary;
      }
    }

    &__social {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: $spacing-md;
      padding-left: $spacing-md;

      // &__icon {
      //   height: 50px;
      //   margin-right: $spacing-sm;
      //   fill: $font-color-neutral;

      //   &:hover {
      //     fill: $color-secondary-accent;
      //   }
      // }
      &--item {
        //height: 50px;
        font-size: 1.5rem;
        margin-right: $spacing-sm;
        fill: $font-color-neutral;
      }
    }
  }


  &__form-group {
    text-align: left;
  }

  &__label {
    display: block;
    color: $font-color-neutral;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: $spacing-md;
    border: 1px solid $color-neutral;
    border-radius: $border-radius-sm;
  }

  &__textarea {
    resize: vertical;
    height: 100px;
  }

}