.contact-us {
  @include base-section($color-neutral);

  &__container {
    @include containers($color-neutral);
  }

  &__title {
    @include headers(-2.1em, $color-neutral, $font-color-neutral);
  }

  &__description {
    color: $font-color-neutral;
    margin-bottom: $spacing-xl;
  }

  &__content {
    display: flex;
    border-radius: $border-radius-md;
    width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    width: 66%;
    margin: $spacing-lg;
    padding: $spacing-lg;
    background-color: $color-light-neutral;
    border-radius: $border-radius-md;
  }

  &__social{
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    width: 33%;
    margin: $spacing-lg;
    padding: $spacing-lg;
    background-color: $color-light-neutral;
    border-radius: $border-radius-md;
    color: $font-color-neutral;

    &__icon {
      height: 50px;
      margin-right: $spacing-sm;
      fill: $font-color-neutral;

      &:hover {
        fill: $color-secondary-accent;
      }
    }
  }

  &__social-item{
    display: flex;
    align-items: center;
    margin-bottom: $spacing-md;
  }

  &__form-group {
    text-align: left;
  }

  &__label {
    display: block;
    color: $font-color-neutral;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: $spacing-md;
    border: 1px solid $color-neutral;
    border-radius: $border-radius-sm;
  }

  &__textarea {
    resize: vertical;
    height: 100px;
  }

  &__button {
    padding: $spacing-sm $spacing-lg;
    color: $font-color-primary;
    border: none;
    border-radius: $border-radius-sm;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($color-secondary-accent, 10%);
    }
  }
}