.faq {
  padding: $spacing-xl $spacing-lg;
  background-color: $color-neutral;
  color: $color-primary;

  &__container {
    max-width: $content-width;
    margin: 0 auto;
  }

  &__title {
    // font-size: $font-size-xl;
    margin-bottom: $spacing-lg;
  }

  &__item {
    margin-bottom: $spacing-md;
  }

  &__question {
    font-weight: bold;
  }
}
