.footer {
    padding: 40px 20px;
    background-color: #00214d; // Dark blue background
    color: #ffffff; // White text for contrast
  
    &__container {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap; // Ensure responsiveness
      max-width: 1200px;
      margin: 0 auto; // Center the content
    }
  
    &__column {
      flex: 1 1 calc(33.333% - 20px); // 3 columns with space between
      max-width: calc(33.333% - 20px);
  
      @media (max-width: 768px) {
        flex: 1 1 calc(50% - 20px); // 2 columns on tablets
        max-width: calc(50% - 20px);
      }
  
      @media (max-width: 480px) {
        flex: 1 1 100%; // 1 column on mobile
        max-width: 100%;
      }
    }
  
    &__logo img {
      width: 100px;
      margin-bottom: 8px;
    }
  
    &__title {
      font-size: 1.25rem;
      font-family: $font-family-primary;
      margin-bottom: 16px;
    }
  
    &__list {
      list-style: none;
      padding: 0;
  
      & li {
        margin-bottom: 8px;
      }
    }
  
    &__link {
      color: #ffffff;
      text-decoration: none;
      font-family: $font-family-primary;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    &__contact {
      font-size: 1rem;
      font-family: $font-family-primary;
      margin-bottom: 8px;
    }
  }