.footer {
    padding: $spacing-xl $spacing-lg;
    background-color: $color-primary; 
    color: $font-color-primary; 
  
    &__container {
      display: flex;
      justify-content: space-between;
      gap: $spacing-md;
      flex-wrap: wrap;
      max-width: $content-width;
      margin: 0 auto;
    }
  
    &__column {
      flex: 1 1 calc(33.333% - $spacing-lg); 
      max-width: calc(33.333% - $spacing-lg);
  
      @media (max-width: 768px) {
        flex: 1 1 calc(50% - $spacing-lg);
        max-width: calc(50% - $spacing-lg);
      }
  
      @media (max-width: 480px) {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }
  
    &__title {
      // font-family: $font-family-primary;
      margin-bottom: $spacing-md;
    }
  
    &__list {
      list-style: none;
      padding: 0;
  
      & li {
        margin-bottom: $spacing-sm;
      }
    }
  
    &__link {
      color: $font-color-primary;
      text-decoration: none;
      // font-family: $font-family-primary;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    &__contact {
      // font-family: $font-family-primary;
      margin-bottom: 8px;
    }
  }