.footer {
  // padding: $spacing-xl $spacing-lg;
  @include space-2(padding, xl, lg);

  background-color: rgba($color-primary, 0.7);
  color: $font-color-primary;

  .copyright {
    text-align: center;
    color: $font-color-primary;
    font-size: 0.7rem;
    background: rgba(0, 0, 0, .4);
    padding: .8rem .5rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    @include space-2(padding, xxl, 0);
    // padding: 48px 0;
    @include space(gap, lg);

    flex-wrap: wrap;
    max-width: $content-width;
    margin: 0 auto;
  }

  &__column {
    flex: 1 1 calc(33.333% - map-get($spaces, lg) * $unit);
    max-width: calc(33.333% - map-get($spaces, lg) * $unit);

    @media (max-width: 768px) {
      flex: 1 1 calc(50% - map-get($spaces, lg) * $unit);
      max-width: calc(50% - map-get($spaces, lg) * $unit);
    }

    @media (max-width: 480px) {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }

  &__title {
    // margin-bottom: $spacing-md;
    @include space(margin-bottom, md);
  }

  &__link {
    color: $font-color-primary;
    text-decoration: none;
    width: 8rem;

    &:hover {
      text-decoration: underline;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      // gap: 1rem;
      @include space(gap, lg);

    }

  }

  &__contact {
    margin-bottom: 1rem;
    color: $font-color-primary;

    &__social {
      display: flex;
      // gap: 1rem;
      @include space(gap, lg);

      font-size: 2rem;
    }
  }

  &__logo {
    img {
      object-fit: cover;
    }
  }
}