.header {
  width: 100%;
  color: $font-color-primary;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-lg 0;

  

  
  &__content {
    border: 1px solid $color-neutral;
    max-width: $content-width;
    border-radius: $border-radius-md;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
      border: none;
    }
  }


  &__nav {
    ul {
      display: flex;
      list-style: none;
      gap: $spacing-md;
    }

    li {
      padding: $spacing-md;
      border-radius: $spacing-sm;

      &:hover {
        color: $color-light-neutral;
        cursor: pointer;
      }
    }

    /* Hide navigation by default on small screens */
    @media (max-width: 768px) {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: $color-primary;
      width: 100%;
      padding: 16px;

      &--open {
        display: flex;
        z-index: 2;
      }

      ul {
        flex-direction: column;
        gap: $spacing-sm;
      }
    }
  }

  &__hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-line {
      width: 24px;
      height: 2px;
      background-color: $color-neutral;
      margin: 4px 0;
    }

    // @media (max-width: 768px) {
    //   display: block;
    // }
  }
}