.methodology {
  @include base-section($color-primary);

  &__title {
    @include headers(-6.9em, $color-primary, $font-color-primary)
  }

  &__subtitle {
    color: $font-color-primary-accent;
  }

  &__image {
    margin-top: $spacing-xl;
    object-fit: cover;
    width: 100%;
    border-radius: $border-radius-md;
  }

  &__container {
    @include containers($font-color-primary-accent);
  }

  &__description {
    margin: $spacing-xl 0;
  }

  &__list {
    padding-left: $spacing-lg;

    li {
      margin-bottom: $spacing-sm;
    }
  }
}