.our-team {
    background-color: $color-white;

    &__content {
        max-width: $content-width;
        margin: 0 auto;
        padding: $spacing-xl $spacing-lg;
        text-align: center;
    }

    &__title {
        font-size: $font-size-xxl;
        color: $color-primary;
        margin-bottom: $spacing-xl;
    }

    &__container {
        display: flex;
        justify-content: center;
        gap: $spacing-xl;
        flex-wrap: wrap;
    }

    &__member {
        flex: 1 1 calc(33.333% - $spacing-lg);
        max-width: calc(33.333% - $spacing-lg);
        padding: 20px;
        text-align: center;
        transition: transform 0.3s ease;

        @media (max-width: 768px) {
            flex: 1 1 calc(50% - $spacing-lg);
            max-width: calc(50% - $spacing-lg);
        }

        @media (max-width: 480px) {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }

    &__avatar {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin-bottom: $spacing-md;
        object-fit: cover;
    }

    &__name {
        font-size: $font-size-lg;
        color: $color-primary;
        margin-bottom: $spacing-md;
    }

    &__position {
        font-size: $font-size-sm;
        color: $color-dark-gray;
        margin-bottom: $spacing-md;
    }

    &__social {
        a {
            margin: 0 $spacing-md;
            font-size: $font-size-md;
            color: $color-secondary;
            transition: color 0.3s ease;

            &:hover {
                color: $color-primary;
            }
        }
    }

    &__button {
        a {
            margin: 0 $spacing-md;
            font-size: $font-size-sm;
            color: $color-primary;
            padding: $spacing-sm $spacing-md;
            border-radius: $border-radius-md;

            &:hover {
                background-color: rgba($color: #000000, $alpha: .7);
                color: $font-color-primary;
            }
        }
    }
}