.quotes {
    padding: $spacing-xl $spacing-lg;
    background-color: $color-gray;
    color: $font-color-gray;
    text-align: center;
    box-shadow: 0px 0px 8px 0px $color-dark-gray;
  
    &__container {
      max-width: $content-width;
      margin: 0 auto;
    }
  
    &__phrase {
      font-size: $font-size-lg;
      font-style: italic;
      margin-bottom: $spacing-md;
      color: $font-color-white;
  
      @media (max-width: 768px) {
        font-size: $font-size-xl;
      }
  
      @media (max-width: 480px) {
        font-size: $font-size-lg;
      }
    }
  
    &__author {
      font-size: $font-size-xl;
      font-weight: bold;
      color: $color-secondary;
  
      @media (max-width: 768px) {
        font-size: $font-size-lg;
      }
  
      @media (max-width: 480px) {
        font-size: $font-size-md;
      }
    }
  }