.testimonials {

  &--title {
    @include space-2(margin, xl, 0)
  }
  &--logo-grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    justify-content: space-between;
    align-items: center;
    @include space(gap, lg);

    &-wrapper {
      overflow-x: auto;
      border-bottom: 1px solid $color-light-neutral;
      max-width: 100vw;
      @include space-2(padding, lg, md);
    }

    img {
      filter: grayscale(100%);
      opacity: 0.8;
      border-radius: 50%;
      transition: all 0.3s ease;

      &:hover {
        filter: grayscale(0%);
        opacity: 1;
        transform: scale(1.05);
      }
    }
  }

  &__testimonial-grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    
    @include space(gap, lg);

    &-wrapper {
      overflow-x: auto;
      border-bottom: 1px solid $color-light-neutral;
      max-width: 100vw;
      @include space-2(padding, lg, md);
    }

    &--testimony {
      width: 33%;
      transform: scale(1.02);
      background: $color-light-neutral;
      border-radius: $border-radius-md;
      @include space-2(padding, md, lg);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
      // @media (max-width: 768px) {
      //   font-size: 87.5%; // 14px
      // }
    
      @media (max-width: 480px) {
        min-width: 90%;
      }

      p {
        font-style: italic;
        margin-bottom: 16px;
      }

      h4 {
        margin: 0;
        font-weight: bold;
        color: $color-primary;
      }

      span {
        font-size: 14px;
        color: #555;
      }

      &:hover {
        opacity: 1;
        transform: scale(1.05);
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

  }
}