.trainings {

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 2em 0;
    justify-content: space-around;
    text-align: left;
    
  }

  &__block {
    padding: 1.75em 1.75em 0.1em 1.75em;
    background-color: $color-light-neutral;
    margin-bottom: 1.5em;
    width: calc(50% - 1em);
    border-radius: $border-radius-md;
    padding: $spacing-lg;
    color: $font-color-light-neutral;
    position: relative;
    height: 30em;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .12);


    &-title {
      padding-bottom: $spacing-md;
      border-bottom: solid 2px $font-color-light-neutral;
      letter-spacing: 0.1em;
      margin: 0 0 1em 0;
      text-transform: uppercase;
    }

    &-image {
      border-radius: $border-radius-md $border-radius-md 0 0;
      display: block;
      margin-bottom: 1.75em;
      margin-left: -1.5em;
      margin-top: -1.75em;
      position: relative;
      width: calc(100% + 3em);

      img {
        border-radius: $border-radius-md $border-radius-md 0 0;
        width: 100%;
        object-fit: cover;
      }
    }

    ul {
      padding-left: $spacing-lg;
      list-style: disc;

      li {
        margin-bottom: $spacing-xs;
      }
    }

    &-button {
      margin: $spacing-md 0;
      color: $font-color-light-neutral;
      width: fit-content;
      border: none;
      cursor: pointer;
      transition: opacity .4s ease;
      position: absolute;
      bottom: 0;
      display: flex;


      svg {
        width: $font-size-xl;
      }

      span {
        margin-left: $spacing-sm;
        padding-top: .65em;
      }

      &:hover {
        opacity: 0.9;
        color: $color-neutral;
      }
    }
  }
}